div.login.form {
    border-color: #162856;
    border-radius: 1px;
}

div.login-form-input {
    font-family: sans-serif, georgia, arial, helvetica;
    font-weight: 700;
    color: #162856;
    font-size:1.1rem;
}

h4{
    font-family: sans-serif, georgia, arial, helvetica;
    font-weight: 700;
    color: #f4f5f8;
    font-size:1.1rem;
}

input.btn-block {
    background-color: rgb(1, 20, 9);
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit; 
    color: #f4f5f8; 
    width: 120px; 
    margin-top: 5px;
    position: relative !important;
}

