<div class="card mat-card">
  <div id="projects">
  <div class="card-title">
    <h2>Experiencia</h2>
    <div id="boton-editar" class="btn-edit d-md-flex"><a href="#" class="btn-right"><i class="fa fa-plus"></i></a></div>
  </div>
  <div>
    <ul class="items-list">
      
        <div class="data-container">
          <div class="logo-image-container">
            <a href="#">
            <img class="logo-image" src="not available yet">
          </a> 
        </div>
        </div>
      <div class="list-info">
        <div id="boton-agregar" class="data-control">
          <div class="btn-edit d-md-flex"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
          <div class="btn-edit d-md-flex"><a href="#" class="btn-right"><i class="fa fa-trash "></i></a></div>
      </div>
      <div>
          <h4>proyecto</h4>
          <p>proyecto</p>
          <p>Año de inicio: 2000</p>
          <p>Año de finalización: 2001</p>            
        </div>
      </div>
    </ul>
</div>
</div>
</div>

